#img {
  height:80%;
  width: 80%;
    margin-bottom: 10%;
}

#imgback {
    height: 116%;
    width: 116%;
    margin-left: -30px;
    margin-right: -30px;
}

form {
    margin-top: 20%;
    margin-left: 25%;
}
body {
    height: 100%;
    width: 100%;

}


.row {
    margin-top: 10%;
    margin-bottom: 3.09%;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, #f9f9f9, #f1f1f1);
}

.btn.btn-info {
    color: #ffffff;
    background-color: #3e3b3f;
    background-image: linear-gradient(to bottom, #4b4849, #39363a);
    border-color: #100f10 #100f10 #100f10;
}

.btn.btn-info:hover {
    color: #ffffff;
    background-color: #3e3b3f;
    background-image: linear-gradient(to bottom, #353536, #1d1c1d);
    border-color: #100f10 #100f10 #100f10;
}